<div class="mt-8">
    <div class="flex">
        <img class="w-64 h-48 mr-8" src={{product.image}} alt="">
        <div class="">
            <p class="font-semibold text-lg">{{product.name}}</p>
            <p>${{price}}</p>
            <div class="flex items-center">
                <button (click)="onUpdateCart(false)" [disabled]="quantity===0"
                    class="px-3 py-1 w-10 h-10 border rounded text-lg">-</button>
                <p class="mx-2">{{ quantity }}</p>
                <button (click)="onUpdateCart(true)" class="px-3 py-1 w-10 h-10 border rounded text-lg">+</button>
            </div>
        </div>
    </div>
    <hr>
</div>